[project]
name = "make-a-book"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "anthropic>=0.72.0",
    "dspy-ai>=3.0.3",
    "python-dotenv>=1.2.1",
]
